<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHUU</title>

 
     <style>
     body{
      background: linear-gradient(180deg,#6b3fa0,#b48cff);
      font-family: "Trebuchet MS", sans-serif;
      color:white;
      margin:0;
      padding:0;
      text-align:center;
    }

    header{
      padding:40px;
    }

    h1{
      font-size:48px;
      margin-bottom:10px;
    }

    .container{
      max-width:900px;
      margin:auto;
      padding:20px;
    }

    .card{
      background:rgba(255,255,255,0.15);
      backdrop-filter: blur(6px);
      border-radius:20px;
      padding:25px;
      margin:25px 0;
      box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }

    .image-space{
      width:100%;
      height:220px;
      border-radius:15px;
      border:2px dashed rgba(255,255,255,0.7);
      display:flex;
      align-items:center;
      justify-content:center;
      margin-top:15px;
      font-size:14px;
      opacity:0.9;
    }

    footer{
      margin-top:40px;
      padding:20px;
      font-size:14px;
      opacity:0.8;
    }
</style>
</head>
    <body>
   <div class="card">
    <h2>🌙 VOCE JA SONHOU COM ESSA MULHER??</h2>
    <p>
     ligue caso voce tenha sonhado com essa mulher...
    </p>
  <img src="https://i.pinimg.com/736x/1a/57/58/1a5758d881c2dcb5adf80c82dc58f516.jpg" alt="imagem da chuu ne" style="width:100%; border-radius:15px;">
  </div>
</body>

</html>