extends layout

block content

  body
    .container
      h1 Odd Eye Circle 

      p
        | Odd Eye Circle é uma sub-unit do grupo LOONA formada por
        | Kim Lip, Jinsoul e Choerry. A unidade representa uma parte
        | importante da narrativa do Loonaverse.
      
      h2 Integrantes
      ul
        li Kim Lip  associada à cor vermelha e ao eclipse.
        li Jinsoul  associada à cor azul e ao oceano.
        li Choerry  associada à cor roxa e à conexão entre mundos.
    

      h2 Papel no Loonaverse
      p
        | No Loonaverse, Odd Eye Circle possui o "Odd Eye", um poder
        | que permite atravessar dimensões. As integrantes atuam como
        | ligação entre diferentes mundos e ajudam a conectar os
        | acontecimentos da história envolvendo outras integrantes
        | do LOONA.

      p
        | O conceito da unit aparece principalmente no mini-álbum
        | "Mix e Match" e em videoclipes como "Girl Front", onde
        | exploram temas de identidade, movimento entre realidades
        | e descoberta de si mesmas.
      a.btn.btn-primary(href="/jinsoul") Ver detalhes de Jinsoul

