extends layout 

block content
  h1 Jinsoul
  p Jinsoul is a member of the South Korean girl group LOONA
  img(src="https://i.pinimg.com/736x/1c/a8/c8/1ca8c84940b6475825e0b85c204f62d9.jpg" alt="Jinsoul")